In [198]:
import pandas as pd

In [199]:
df = pd.read_excel("tg.xlsx")
df

            Date  USD_quant     USD  RUB_quant   RUB
0     01.01.2020          1  382.59          1  6.16
1     02.01.2020          1  382.59          1  6.16
2     03.01.2020          1  382.59          1  6.16
3     04.01.2020          1  382.59          1  6.16
4     05.01.2020          1  382.59          1  6.16
...          ...        ...     ...        ...   ...
2108  09.10.2025          1  540.06          1  6.61
2109  10.10.2025          1  541.54          1  6.64
2110  11.10.2025          1  539.06          1  6.63
2111  12.10.2025          1  539.06          1  6.63
2112  13.10.2025          1  539.06          1  6.63

[2113 rows x 5 columns]

In [200]:
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y', errors='coerce')
df = df.sort_values(by='Date', ascending=False)
df.drop(['USD_quant', 'RUB_quant'], axis= 1, inplace=True)
df

           Date     USD   RUB
2112 2025-10-13  539.06  6.63
2111 2025-10-12  539.06  6.63
2110 2025-10-11  539.06  6.63
2109 2025-10-10  541.54  6.64
2108 2025-10-09  540.06  6.61
...         ...     ...   ...
4    2020-01-05  382.59  6.16
3    2020-01-04  382.59  6.16
2    2020-01-03  382.59  6.16
1    2020-01-02  382.59  6.16
0    2020-01-01  382.59  6.16

[2113 rows x 3 columns]

In [201]:
df['usd-variability'] = df['USD'].pct_change() * 100
df['usd-variability'] = df['usd-variability'].round(2)

df['rub-variability'] = df['RUB'].pct_change() * 100
df['rub-variability'] = df['rub-variability'].round(2)
df

           Date     USD   RUB  usd-variability  rub-variability
2112 2025-10-13  539.06  6.63              NaN              NaN
2111 2025-10-12  539.06  6.63             0.00             0.00
2110 2025-10-11  539.06  6.63             0.00             0.00
2109 2025-10-10  541.54  6.64             0.46             0.15
2108 2025-10-09  540.06  6.61            -0.27            -0.45
...         ...     ...   ...              ...              ...
4    2020-01-05  382.59  6.16             0.12             0.00
3    2020-01-04  382.59  6.16             0.00             0.00
2    2020-01-03  382.59  6.16             0.00             0.00
1    2020-01-02  382.59  6.16             0.00             0.00
0    2020-01-01  382.59  6.16             0.00             0.00

[2113 rows x 5 columns]

In [202]:
brent = pd.read_csv("RBRTEd.csv")
brent.drop([0, 1], inplace=True)
brent

     Back to Contents Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)
2        May 20, 1987                                              18.63
3        May 21, 1987                                              18.45
4        May 22, 1987                                              18.55
5        May 25, 1987                                               18.6
6        May 26, 1987                                              18.63
...               ...                                                ...
9736     Sep 30, 2025                                              68.52
9737     Oct 01, 2025                                              66.67
9738     Oct 02, 2025                                              65.44
9739     Oct 03, 2025                                              66.13
9740     Oct 06, 2025                                              67.09

[9739 rows x 2 columns]

In [203]:
brent.rename(columns={'Back to Contents': 'Date', 'Data 1: Europe Brent Spot Price FOB (Dollars per Barrel)': 'Brent'}, inplace=True)
brent['Date'] = pd.to_datetime(brent['Date'])
brent = brent[brent['Date'].dt.year >= 2020]
brent = brent.sort_values(by='Date', ascending=False)
brent

C:\Users\USER\AppData\Local\Temp\ipykernel_9096\4076693068.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  brent['Date'] = pd.to_datetime(brent['Date'])

           Date  Brent
9740 2025-10-06  67.09
9739 2025-10-03  66.13
9738 2025-10-02  65.44
9737 2025-10-01  66.67
9736 2025-09-30  68.52
...         ...    ...
8287 2020-01-08  67.31
8286 2020-01-07  68.74
8285 2020-01-06  70.25
8284 2020-01-03  69.08
8283 2020-01-02  67.05

[1458 rows x 2 columns]

In [204]:
df = pd.merge(df, brent, on='Date',  how='outer')
merged = df.sort_values(by='Date', ascending=False).reset_index(drop=True)
merged

           Date     USD   RUB  usd-variability  rub-variability  Brent
0    2025-10-13  539.06  6.63              NaN              NaN    NaN
1    2025-10-12  539.06  6.63             0.00             0.00    NaN
2    2025-10-11  539.06  6.63             0.00             0.00    NaN
3    2025-10-10  541.54  6.64             0.46             0.15    NaN
4    2025-10-09  540.06  6.61            -0.27            -0.45    NaN
...         ...     ...   ...              ...              ...    ...
2108 2020-01-05  382.59  6.16             0.12             0.00    NaN
2109 2020-01-04  382.59  6.16             0.00             0.00    NaN
2110 2020-01-03  382.59  6.16             0.00             0.00  69.08
2111 2020-01-02  382.59  6.16             0.00             0.00  67.05
2112 2020-01-01  382.59  6.16             0.00             0.00    NaN

[2113 rows x 6 columns]

In [205]:
merged['Brent'] = merged['Brent'].astype('float64')
merged.loc[merged.index[0], 'Brent'] = 67.3
merged['Brent'] = merged['Brent'].interpolate(method='linear')
merged

           Date     USD   RUB  usd-variability  rub-variability  Brent
0    2025-10-13  539.06  6.63              NaN              NaN  67.30
1    2025-10-12  539.06  6.63             0.00             0.00  67.27
2    2025-10-11  539.06  6.63             0.00             0.00  67.24
3    2025-10-10  541.54  6.64             0.46             0.15  67.21
4    2025-10-09  540.06  6.61            -0.27            -0.45  67.18
...         ...     ...   ...              ...              ...    ...
2108 2020-01-05  382.59  6.16             0.12             0.00  69.86
2109 2020-01-04  382.59  6.16             0.00             0.00  69.47
2110 2020-01-03  382.59  6.16             0.00             0.00  69.08
2111 2020-01-02  382.59  6.16             0.00             0.00  67.05
2112 2020-01-01  382.59  6.16             0.00             0.00  67.05

[2113 rows x 6 columns]

In [ ]:
merged['tonia-variability'] = merged['tonia'].pct_change() * 100
merged['tonia-variability'] = merged['tonia-variability'].round(2)
merged

,Date,USD,RUB,usd-variability,rub-variability,Brent,brent-variability
0,2025-10-13,539.06,6.63,NaN,NaN,67.30,NaN
1,2025-10-12,539.06,6.63,0.00,0.00,67.27,-0.04
2,2025-10-11,539.06,6.63,0.00,0.00,67.24,-0.04
3,2025-10-10,541.54,6.64,0.46,0.15,67.21,-0.04
4,2025-10-09,540.06,6.61,-0.27,-0.45,67.18,-0.04
...,...,...,...,...,...,...,...
2108,2020-01-05,382.59,6.16,0.12,0.00,69.86,-0.56
2109,2020-01-04,382.59,6.16,0.00,0.00,69.47,-0.56
2110,2020-01-03,382.59,6.16,0.00,0.00,69.08,-0.56
2111,2020-01-02,382.59,6.16,0.00,0.00,67.05,-2.94
2112,2020-01-01,382.59,6.16,0.00,0.00,67.05,0.00

In [211]:
merged = merged[merged['Date'] <= '2025-10-10'].reset_index(drop=True)
merged

,Date,USD,RUB,usd-variability,rub-variability,Brent,brent-variability
0,2025-10-10,541.54,6.64,0.46,0.15,67.21,-0.04
1,2025-10-09,540.06,6.61,-0.27,-0.45,67.18,-0.04
2,2025-10-08,541.63,6.61,0.29,0.00,67.15,-0.04
3,2025-10-07,545.67,6.57,0.75,-0.61,67.12,-0.04
4,2025-10-06,547.57,6.68,0.35,1.67,67.09,-0.04
...,...,...,...,...,...,...,...
2105,2020-01-05,382.59,6.16,0.12,0.00,69.86,-0.56
2106,2020-01-04,382.59,6.16,0.00,0.00,69.47,-0.56
2107,2020-01-03,382.59,6.16,0.00,0.00,69.08,-0.56
2108,2020-01-02,382.59,6.16,0.00,0.00,67.05,-2.94
2109,2020-01-01,382.59,6.16,0.00,0.00,67.05,0.00

In [212]:
merged.to_csv('tenge.csv')

In [206]:
# df.to_csv('tenge.csv', index=False)

In [9]:
import pandas as pd
df = pd.read_csv("usdgold.csv")
df.drop(['Unnamed: 0'], axis=1,inplace=True)
df.to_csv("usdgold.csv",index=False)
df

            date  gold_usd  gold_usd_variability
0     2025-10-10  3986.275                   NaN
1     2025-10-09  4029.925                  1.10
2     2025-10-08  4037.400                  0.19
3     2025-10-07  3970.650                 -1.65
4     2025-10-06  3945.700                 -0.63
...          ...       ...                   ...
1454  2020-01-08  1577.400                  1.81
1455  2020-01-07  1567.175                 -0.65
1456  2020-01-06  1574.975                  0.50
1457  2020-01-03  1548.075                 -1.71
1458  2020-01-02  1523.825                 -1.57

[1459 rows x 3 columns]

In [102]:
import pandas as pd
df = pd.read_csv("tenge.csv")
start_date = "2025-01-01"
end_date = "2025-01-31"

mask = (df['date'] >= start_date) & (df['date'] <= end_date)

df.loc[mask, 'inflation_rate'] = 8.9
df.to_csv("tenge.csv",index=False)

In [113]:
import pandas as pd
df = pd.read_csv("tonia.csv")
df['tonia-variability'] = df['tonia'].pct_change() * 100
df['tonia-variability'] = df['tonia-variability'].round(2)
df.to_csv("tonia.csv",index=False)
df

          date  tonia  tonia-variability
0     10-10-25  16.07                NaN
1     09-10-25  15.59              -2.99
2     08-10-25  15.53              -0.38
3     07-10-25  15.52              -0.06
4     06-10-25  15.56               0.26
...        ...    ...                ...
1416  10-01-20   8.44               0.00
1417  09-01-20   8.33              -1.30
1418  08-01-20   8.00              -3.96
1419  06-01-20   8.38               4.75
1420  05-01-20   8.73               4.18

[1421 rows x 3 columns]